.sidebar {
  top: $gap-xxxl;
}

.label {
  display: block;
  font-size: $font-xs;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.numberInput {
  width: 100%;
}

.alignButtons {
  display: flex;
  gap: $gap-md;
}

.alignIcon {
  font-size: $font-xl;
  cursor: pointer;
  color: $gray;
  transition: color 0.2s;
}

.alignIcon:hover {
  color: $disabled;
}

.active {
  color: $secondary-color;
}
