.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  margin-bottom: $gap-xs;
}

.section {
  margin-bottom: $gap-xs;
}

.input {
  width: 176px;
}

.alignIcon {
  font-size: $font-xl;
  cursor: pointer;
  color: $gray;
  transition: color 0.2s;
}

.alignIcon:hover {
  color: $disabled;
}

.active {
  color: var(--secondary-color);
}

.drawer {
  height: 80vh !important;
  padding: 0 $gap-lg;

  @layer antd {
    .ant-drawer-body {
      padding: 0 !important;
    }
  }
}

.contentButton {
  margin-bottom: $gap-sm;
}

.picker {
  width: min-content;
}

:global(.ant-drawer-body) {
  display: flex;
  flex-direction: column;
  align-items: start;
}
