.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  margin-bottom: $gap-xs;
}

.section {
  margin-bottom: $gap-xs;
}

.input {
  width: 176px;
}

.alignIcon {
  font-size: $font-xl;
  cursor: pointer;
  color: $gray;
  transition: color 0.2s;
}

.alignIcon:hover {
  color: $disabled;
}

.active {
  color: $secondary-color;
}

.drawer {
  height: 80vh !important;
  background: $primary-color !important;
  padding: 0 $gap-lg;
}

.contentButton {
  margin-bottom: $gap-sm;
}

.picker {
  width: min-content;
}
