.textarea {
  width: 100%;
  resize: none !important;
  border: none;
  background: transparent;
  font-family: inherit;
}

.hover {
  outline: none;
  background-color: #e6f0ff;
  resize: both !important;
}

.crossed {
  text-decoration: line-through;
}
