.editable {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  outline: none;
  cursor: text;
  border-radius: $radius-sm;
}

.crossed {
  text-decoration: line-through;
}
