$primary-color: #2c3144;
$secondary-color: #f17900;
$light-primary-color: rgba(44, 49, 68, 0.5);
$light-secondary-color: rgba(241, 121, 0, 0.5);
$error-color: red;
$black: #000;
$white: #fff;

$gap-xxxs: 2px;
$gap-xxs: 4px;
$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 48px;
$gap-xxxl: 64px;

$radius-xxxs: 2px;
$radius-xxs: 4px;
$radius-xs: 6px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-xxl: 32px;
$radius-xxxl: 40px;

$font-xxxs: 10px;
$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-xxxl: 40px;

$lineHeight-xxxs: 14px;
$lineHeight-xxs: 16px;
$lineHeight-xs: 20px;
$lineHeight-sm: 22px;
$lineHeight-md: 24px;
$lineHeight-lg: 28px;
$lineHeight-xl: 32px;
$lineHeight-xxl: 40px;
$lineHeight-xxxl: 48px;
