.editProfilePage {
  max-width: 500px;
  margin: 0 auto;
  padding: $gap-lg;
  background-color: #fff;
  border-radius: $radius-md;
  box-shadow: 0 $gap-xxxs $gap-xs rgba(0, 0, 0, 0.05);
}

.form {
  margin-top: $gap-lg;
}

.avatarWrapper {
  display: flex;
  align-items: center;
}

.uploadButton {
  margin-left: $gap-md;
  color: black;
}
