.editProfilePage {
  max-width: 500px;
  margin: 0 auto;
  padding: $gap-lg;
  border-radius: $radius-md;
  background: var(--primary-color);
  box-shadow: 0 $gap-xxxs $gap-xs rgba(0, 0, 0, 0.05);
}

.form {
  margin-top: $gap-lg;
}

.avatarWrapper {
  display: flex;
  align-items: center;
}

.uploadButton {
  margin-left: $gap-md;
  color: black;
}

.switch {
  width: 60px;
}

.switchLightIcon {
  color: var(--contr-primary-color);
}

.switchDarkIcon {
  color: var(--primary-color);
}
