.header {
  padding: 0;
  box-shadow: 0 $gap-xxxs $gap-xs rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 $gap-lg;
}

.title {
  margin: 0;
}

.ant-typography {
  color: $white;
}
