.control {
  border: 0;
  display: flex;
  background: none;
  border-radius: $radius-xs;
  padding: $gap-xs;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.disabled {
  cursor: not-allowed;

  svg {
    opacity: 0.2;
  }
}
