.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.2s;
  background-color: var(--contr-primary-color);
  color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
