.sidebar {
  top: $gap-xxxl;
}

.label {
  display: block;
  font-size: $font-xs;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.select {
  width: 100%;
}

.drawer {
  background: $primary-color !important;
}
