.sidebar {
  top: $gap-xxxl;
  z-index: 100;
}

.nodeItem {
  padding: 10px;
  margin-bottom: $gap-xs;
  border-radius: $radius-sm;
  border: 1px solid #ccc;
  cursor: grab;
  transition: all 0.2s;
}
