.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 50;
  border-left: 1px solid #e5e7eb;
}

.description {
  margin-bottom: 12px;
  font-size: 14px;
  color: #666;
}

.nodeItem {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: grab;
  transition: all 0.2s;

  &:hover {
    background-color: #eaeaea;
  }

  &.input {
    border-left: 4px solid #6ede87;
  }

  &.default {
    border-left: 4px solid #ff0072;
  }

  &.output {
    border-left: 4px solid #6865a5;
  }
}
