.profileLayout {
  height: 100vh;
}

.sider {
}

.logo {
  color: var(--secondary-color);
  font-size: $font-lg;
  font-weight: bold;
  padding: $gap-md;
  text-align: center;
}

.header {
  padding: 0 $gap-lg;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-weight: bold;
}

.content {
  padding: $gap-lg;
  max-height: 100%;
}

.cards {
  margin-top: $gap-lg;
}
