.baseNode {
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 16px;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: box-shadow 0.2s;
  color: $primary-color;
  height: -webkit-fill-available;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

    .handle {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.textNode {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.handle {
  border: 2px solid white;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s,
    scale 0.3s;

  &.top,
  &.bottom {
    width: 10px;
    height: 10px;
    left: 50%;
  }

  &.left,
  &.right {
    width: 10px;
    height: 10px;
    top: 50%;
  }

  &:hover {
    scale: 1.2;
  }
}

.content {
  pointer-events: none;
}
