.baseNode {
  background: $white;
  border: 1px solid #d1d5db;
  border-radius: $radius-sm;
  padding: $gap-xs;
  z-index: 2;
  transition: all 0.6 ease;
  position: relative;
  box-shadow: 0 $gap-xxs $gap-xs rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: $font-xs;
  font-weight: 500;
  min-height: 26px;
  min-width: 100px;

  color: $primary-color;
  height: auto;

  &:hover {
    box-shadow: 0 $gap-xs $gap-sm rgba(0, 0, 0, 0.15);

    .handle {
      opacity: 1;
      pointer-events: auto;
    }

    .hidden {
      opacity: 0;
    }
  }
}

.textNode {
  border: 0;
  background: transparent;
  border: none !important;
  box-shadow: none;
}

.handle {
  border: $gap-xxxs solid white;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s,
    scale 0.3s;

  &.top,
  &.bottom {
    width: 10px;
    height: 10px;
    left: 50%;
  }

  &.left,
  &.right {
    width: 10px;
    height: 10px;
    top: 50%;
  }

  &:hover {
    scale: 1.2;
  }
}

.content {
  pointer-events: none;
}
