.icon {
  width: 20px;
  height: 20px;
  color: $white;
  margin-right: $gap-xxs;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-left: $gap-xxs;
}

.text {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  width: max-content;
}

.dropdown {
  border: 0;
  display: flex;
  border-radius: $radius-xs;
  background: $primary-color;
  padding: $gap-xs;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;

  align-items: center;
  justify-content: space-between;

  span {
    font-size: $font-sm;
  }
}
