.container {
  height: 100%;
}

.title {
  font-size: $font-lg;
  color: var(--contr-primary-color);
}

.description {
  font-size: $font-xs;
  color: var(--contr-primary-color);
}

.crateButton {
  margin-right: $gap-lg;
}

.mapCards {
  overflow-y: auto;
}

.mapCard {
  margin-bottom: $gap-md;
  margin-right: $gap-xs;

  &:hover {
    border-color: var(--secondary-color) !important;
  }
}

.search {
  max-width: 300px;
}
