.container {
  height: 100%;
}

.title {
  font-size: $font-lg;
  color: $primary-color;
}

.description {
  font-size: $font-xs;
  color: $primary-color;
}

.crateButton {
  margin-right: $gap-lg;
}

.maps {
  overflow-y: auto;
}

.map {
  margin-bottom: $gap-md;
  margin-right: $gap-xs;
}

.search {
  max-width: 300px;
}
