.text {
  color: $primary-color;
}

textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  font-size: $font-xs;
  line-height: $lineHeight-xxxs;
  font-family: inherit;
  outline: none;
}
