body {
  box-sizing: border-box;
}

.react-flow__renderer {
  background: var(--canvas-color);
  background-image: radial-gradient(
    circle at 1px 1px,
    $disabled 1px,
    transparent 1px
  );
  background-size: 50px 50px; /* Размер сетки */
  z-index: 1;
}
.temp .react-flow__edge-path {
  stroke: #bbbbbb;
  stroke-dasharray: 5 5;
}

.react-flow__node {
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}

.react-flow__handle {
  background: var(--secondary-color);
  width: 10px;
  height: 10px;
}

.react-flow__edge-path {
  stroke: var(--primary-color);
}

.react-flow__background {
  background-color: #f8f9fb;
}

:root {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
  }
}

.ant-select-selection-item {
  color: var(--primary-color);
}
.ant-select-item-option-content {
  color: var(--primary-color);
}

.ant-select-item-option-selected {
  background: transparent !important;
  .ant-select-item-option-content {
    color: var(--secondary-color) !important;
  }
}
